.content-heading {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  /* overflow: hidden; */
  color: var(--Font-600, #565e73);
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 0.016px;
  margin-bottom: 20px;
}

/*
   Dark Theme Heading
*/
[data-theme='dark'] .content-heading {
  color: #fff;
}

/* Responsive */

@media (min-width: 1200px) {
  .content-heading {
    font-size: 22px;
  }
}
